name: Build

on:
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: yarn
      - run: pip3 install requests
      - run: python3 get-external-files.py
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Build
        run: yarn build
